/* body */
body{font-size:var(--base-font-size);line-height:var(--base-line-height);font-family:var(--base-font-family);}

/* ヘッダー アイコン */
.header-title-img{display:inline-block;margin:-.25em 0 -.375em;width:1.5em;height:1.5em;background:no-repeat 50%;background-size:contain;background-image:var(--profile-image);}

/* 記事一覧 記事 */
.date-outer{margin:1em 0;}

/* 見出し 日付 */
.date-header span{font-size:1.15em;}
/* 見出し タイトル */
h3.post-title,.comments h4{margin:.25em -4px 0;padding:.25em 0 .25em .375em;border-left:4px solid #a0c4fc;background-image:linear-gradient(to right,rgba(160,196,252,.25) 25%,transparent);font-size:1.75em;font-family:var(--base-font-family);font-weight:normal;line-height:1.25;}

/* 本文 見出し */
.post-body h1,.post-body h2,.post-body h3,.post-body h4{margin-top:1.75em;color:#4d5766;}
.post-body :nth-child(1){margin-top:.25em;}
/* 本文 見出し + p */
.post-body h1 + p,.post-body h2 + p,.post-body h3 + p,.post-body h4 + p{margin-top:0;}

/* 記事 footer */
.post-footer{background-image:linear-gradient(rgba(0,0,0,0),rgba(24,24,24,.05));}
</style>

/* $aoi-css-parts */
/* ドラッグスクロール */
.aoi-dragscroll{overflow-x:scroll!important;scrollbar-width:none;-ms-overflow-style:none;}
.aoi-dragscroll::-webkit-scrollbar{display:none;}

/* ノート */
.post-body .note{display:inline-block;background:rgb(232,239,249);border:2px dotted rgb(204,204,204);margin:.5em .25em;padding:1em;border-radius:8px;}
  
/* button */
.button{border-radius:4px;display:block;font-size:1.15em;font-weight:bold;height:1.75em;line-height:1.75;margin:.75em auto;padding-top:.075em;max-width:460px;text-align:center;width:90%;background-image:linear-gradient(rgba(24,24,24,.025),rgba(24,24,24,.075));color:#404040;}
/* submit */
.button.submit{background-color:#1c6ddf;color:white;font-size:1.2em;height:2.5em;line-height:2.5;}
/* button size */
.button.s-small{height:1.4em;line-height:1.4em;}
.button.s-medium{height:2em;line-height:2em;}
.button.s-large{height:2.5em;line-height:2.5em;}
.button.w-auto{max-width:none;width:auto;}
.button.w-066{max-width:640px;width:66.6%;}
.button.w-075{max-width:720px;width:75%;}
.button.w-100{max-width:880px;width:100%;}
.button.center{max-width:480px;text-align:center;width:50%;}
/* button color */
.button.c-blue{background-color:#408cff;color:white;}
.button.c-deepblue{background-color:#185cc0;color:white;}

/* ニコニコ iframe */
iframe[src*=&quot;//ext.nicovideo.jp/&quot;]{border:solid 1px #ccc;width:312px;height:172px;}


/* $setconf */
:root{
  --base-font-size:10pt;
  --base-font-family:&quot;Helvetica Neue&quot;,&quot;ヒラギノ角ゴ Pro W3&quot;,&quot;Hiragino Kaku Gothic Pro&quot;,&quot;Segoe UI&quot;,Meiryo,メイリオ,sans-serif;
  --base-line-height:1.3;
  
  --header-text-color:#3069bf;
  --header-text-size:24pt;
  --m-header-text-size:18pt;
  --header-text-color:#1d7ccc;
  
  --content-font-size:1.1em;
  
  --content-head-text-color:#336fcc;
  --content-head-margin:1.75em 0 .25em;
  --content-h1-font-size:2.25em;
  --content-h2-font-size:2em;
  --content-h3-font-size:1.75em;
  --content-h4-font-size:1.4em;
  --content-h5-font-size:1.2em;
  --content-h6-font-size:1.05em;
}


/* $レスポンシブ */
@media (max-width:1080px){
  body{min-width:auto;}
}

@media (max-width:1023px){
  .main-inner .columns{padding-right:0;}
  .main-inner .fauxcolumn-center-outer{right:0;}
  .main-inner .column-center-inner{padding:0 .75em;}
  .main-inner .column-right-outer{width:auto;margin-right:0;}
  .main-inner .fauxcolumn-right-outer{width:0;}
}

@media (max-width:800px){
  body{padding:0 1.5em 1.5em;}
  .content-inner{padding-top:.5em;}
  .main-inner .column-center-inner{padding:0 .5em;}
}

@media (max-width:640px){
  body{padding:0 1em 1.25em;}
  .main-inner .column-center-inner{padding:0 .5em;}
  .section{margin:0 .75em;}
}

@media (max-width:560px){
  body{padding:0 .5em 1em;}
  .main-inner .column-center-inner{padding:0 .5em;}
}


/* $アイコン */
[class*=icon_]{display:inline-block;margin:0 0 0 0;}
.icon_new{margin:0 1px -1px 1px;width:32px;height:12px;background-image:url("//mabechinr.github.io/mabechinr/assets/icon/icon_new.gif");}
.icon_push{margin:0 1px 0 1px;width:27px;height:10px;background-image:url("//mabechinr.github.io/mabechinr/assets/icon/icon_push.gif");}
.icon_check{margin:0 2px 1px 0;width:20px;height:7px;background-image:url("//mabechinr.github.io/mabechinr/assets/icon/icon_check.gif");}

.icon_openutau{width:16px;height:16px;background-image:url("//mabechinr.github.io/mabechinr/assets/icon/openutau_icon.svg");}
